<div class="tabs__container flex gap-2">
  {% for block in section.blocks %}
    <button
      class="border rounded-md p-2"
      onclick="showTabText('tab{{ forloop.index }}')"
      style="background-color: {{ block.settings.tab_color }};">
      {{ block.settings.tab_title }}
    </button>
  {% endfor %}
</div>

{% for block in section.blocks %}
  <div id="tab{{ forloop.index }}" class="tab hidden">
    {{ block.settings.tab_content }}
  </div>
{% endfor %}